<div class="card personnel-page border-0 h-100">
  <div class="card-body p-0">
    <div class="row m-0">
      <div class="col-md-3 h-100 personnel-grid p-1">
        <div class="card grid-panel h-100">
          <div class="card-header d-flex gap-2 align-items-center">
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Add
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              Back
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Batch Create
            </button>
          </div>
          <div class="card grid-panel-body border-0">
            <div class="grid-table">
              <div class="row grid-table-header m-0 ">
                <div class="col-md-4 col-xs-12">Company</div>
                <div class="col-md-3 col-xs-12">First Name</div>
                <div class="col-md-3 col-xs-12">Last Name</div>
                <div class="col-md-2 col-xs-12">Badge No</div>
              </div>
              <div class="grid-table-body">
                @for(badge of this.personData.badgeList; track $index) {
                <div class="row m-0" [ngClass]="{'select-person': selectedBadge.id==badge.id}"
                  (click)="onBadgeSelect(badge)">
                  <div class="col-md-4 col-xs-12 disp-flex"><span class="show-mobile-header">{{"Company : "}}</span>
                    @if(badge.subBadgeList.length>0)
                    {<i class="fa icon-size"
                      [ngClass]="{'fa-angle-down': badge.isExpand, 'fa-angle-right' : !badge.isExpand}"
                      aria-hidden="true"></i> } {{badge.companyName}}</div>
                  <div class="col-md-3 col-xs-12 disp-flex"><span class="show-mobile-header">{{"First Name :"}}</span>
                    {{badge.firstName}}</div>
                  <div class="col-md-3 col-xs-12 disp-flex"><span class="show-mobile-header">{{"Last Name : "}}</span>
                    {{badge.lastName}}</div>
                  <div class="col-md-2 col-xs-12 disp-flex text-center"><span class="show-mobile-header">{{"Badge No : "}}</span>
                    {{badge.badge}}</div>
                </div>
                @if(badge.isExpand){
                @for(subbadge of badge.subBadgeList; track $index) {
                <div class="row sub-badge m-0" [ngClass]="{'select-person': selectedBadge.id==subbadge.id}"
                  [attr.id]="badge.personID" (click)="onBadgeSelect(subbadge)">
                  <div class="col-md-4 col-xs-12 disp-flex"><span class="show-mobile-header">{{"Company : "}}</span>
                    {{subbadge.companyName}}</div>
                  <div class="col-md-3 col-xs-12 disp-flex"><span class="show-mobile-header">{{"First Name :"}}</span>
                    {{subbadge.firstName}}</div>
                  <div class="col-md-3 col-xs-12 disp-flex"><span class="show-mobile-header">{{"Last Name : "}}</span>
                    {{subbadge.lastName}}</div>
                  <div class="col-md-2 col-xs-12 disp-flex text-center"><span class="show-mobile-header">{{"Badge No : "}}</span>
                    {{subbadge.badge}}</div>
                </div>
                }
                }
                }
              </div>
            </div>
          </div>
          <div class="card-footer fw-bold d-flex align-items-center justify-content-between pt-0 pb-0 ps-2 pe-2">
            <span>Total : [ {{personData.totalPersons}} ]</span>
            <span class="btn btn-sm" (click)="this.refresh()"><i class="fa fa-refresh" title="reload" [ngClass]="{'
                refresh': isRefresh}" aria-hidden="true"></i></span>
          </div>
        </div>
        <!-- <div class="card h-100">
          <div class="card-header d-flex gap-2 align-items-center">
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Add
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              Back
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Batch Create
            </button>
          </div>

          <div class="card-body p-2">
            <table class="table table-striped table-sm mb-0">
              <thead>
                <tr>
                  <th></th>
                  <th>Company</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Badge No</th>
                </tr>
              </thead>
              <tbody>
                @for(badge of this.personData.badgeList; track $index){
                <tr [ngClass]="{'select-person': selectedBadge.id==badge.id}" (click)="onBadgeSelect(badge)">
                  <td>
                    @if(badge.id==selectedBadge.id)
                    {<i class="fa fa-check-square-o icon-size" aria-hidden="true"></i> }
                  </td>
                  <td>{{badge.companyName}}</td>
                  <td>{{badge.firstName}}</td>
                  <td>{{badge.lastName}}</td>
                  <td>{{badge.badge}}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="card-footer fw-bold d-flex align-items-center justify-content-between pt-0 pb-0 ps-2 pe-2">
            <span>Total : [ {{this.personData.badgeList?this.personData.badgeList.length: 0}} ]</span>
            <span class="btn btn-sm" (click)="this.refresh()"><i class="fa fa-refresh" title="reload" [ngClass]="{'
                refresh': isRefresh}" aria-hidden="true"></i></span>
          </div>
        </div> -->

      </div>
      <div class="col-md-9 personnel-input p-1">
        <div class="card personnel-input-card">
          <div class="card-header d-flex gap-2 align-items-center">
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              SAVE
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-ban" aria-hidden="true"></i>
              CANCEL
            </button>
            <button class="btn btn-sm btn-outline-secondary btn-font-size">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              ADD SUB BADGE
            </button>
          </div>
          <div class="card-body p-0 personnel-input-card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              @for (tabItem of menuTab.tabList; track $index) {
              <li class="nav-item" (click)="setMenuTab(tabItem)">
                <a class="nav-link" [ngClass]="{' active':menuTab.selectedTab.id==tabItem.id}"
                  data-bs-toggle="tab">{{tabItem.name}}</a>
              </li>
              }
            </ul>
            <!-- Tab panes -->
            <div class="card border-0 h-100">
              @if (menuTab.selectedTab.id==1) {
              <div id="PersonnelInformation" class="card-body m-0 p-1 border-0">
                <div class="row m-0">
                  <div class="col-md-5 p-1 personnel-input-group">
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Company</span>
                      <input type="text" class="form-control" [readOnly]="true"
                        [(ngModel)]="this.selectedBadge.companyName">
                    </div>
                    <span>Personal Information</span>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Last Name</span>
                      <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.lastName">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">First Name</span>
                      <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.firstName">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Middle Name</span>
                      <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.middleName">
                    </div>
                    <span>Credential Information</span>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Badge Number / PIN Only</span>
                      <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.badge">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Facility No</span>
                      <input type="text" class="form-control" [disabled]="!this.selectedBadge.facility"
                        [(ngModel)]="this.selectedBadge.facilityDisplay">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Two Factor PIN</span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Re-Issue</span>
                      <input type="text" class="form-control" [disabled]="!this.selectedBadge.issue"
                        [(ngModel)]="this.selectedBadge.reIssue">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Embossed ID</span>
                      <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.embossed">
                    </div>
                    <span>Access Information</span>
                    <!-- <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-text d-flex gap-2">
                         <span>Badge Enable</span> <input type="checkbox">
                        </div>
                      </div> -->
                    <div class="form-check form-switch">
                      <label class="form-check-label" for="mySwitch">Badge Enable</label>
                      <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes"
                        [checked]="this.selectedBadge.enabled">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Partition Group</span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Holiday Calendar</span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Access Time (secs)</span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Activation Date & Time</span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Expiration Date & Time</span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-1 input-group-sm">
                      <span class="input-group-text personnel-input-group-label">Badge Use Limit</span>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-5 p-1 ">
                    <div class="card access-group-card h-100">
                      <div class="card-header"><span>Access Group</span></div>
                      <div class="card-body p-2">
                        <table class="table table-striped table-sm m-0">
                          <thead>
                            <tr>
                              <th title="Seq.No">S.N</th>
                              <th title="Access Group">Access Group</th>
                              <th title="Activation Date & Time">Activation Date & Time</th>
                              <th title="Expiration Date & Time">Activation Date & Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            @for(accGroup of this.personData.defaultAccessGroupList; track $index){
                            <tr>
                              <td>{{$index+1}}</td>
                              <td data-bs-toggle="dropdown">
                                <i class="fa fa-caret-down me-2"
                                  aria-hidden="true"></i>{{accGroup.selectedAccessGroup.description ||
                                accGroup.description}}
                                <ul class="dropdown-menu pt-0 p-0">
                                  @for (item of this.dropDownAccessGroup; track $index) {
                                  <li class="dropdown-item btn border border-start-0 border-end-0 border-top-0"
                                    (click)="this.onSelectDropDown(accGroup,item)" [ngClass]="{' selected-bg':
                                    accGroup.selectedAccessGroup.aGroupNo==item.agrpNo}">
                                    {{item.description}}</li>
                                  }
                                </ul>
                              </td>
                              <td><input class="input-sm border-0" type="datetime-local" id="aGroupActivationDate"
                                  [(ngModel)]="accGroup.selectedAccessGroup.aGroupActivationDate"></td>
                              <td><input class="input-sm border-0" type="datetime-local" id="aGroupExpirationDate"
                                  [(ngModel)]="accGroup.selectedAccessGroup.aGroupExpirationDate"></td>
                            </tr>
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 p-1">
                    <div class="card h-100">
                      <div class="card-header">photo</div>
                      <img class="card-img-top" [src]="this.selectedBadge.imgUrl || '' " alt="Card image"
                        height="130" />
                      <div class="card-body p-2">
                        <p class="card-text">
                          <b>Note: </b>Any imported photo will be resized to
                          300px X 300px
                        </p>
                      </div>
                      <div class="card-footer d-flex gap-2">
                        <button class="btn btn-sm btn-outline-secondary btn-font-size">Import Photo</button>
                        <button class="btn btn-sm btn-outline-secondary btn-font-size">Crear Photo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
              @else if (menuTab.selectedTab.id==2) {
              <div class="card-body p-2">
                <div class="row m-0">
                  <div class="col-md-3 p-0">
                    <div class="card card-shadow">
                      <div class="card-header">
                        Threat Level Badge Category
                      </div>
                      <div class="card-body p-1">
                        <div class="row">
                          @for (catItem of this.personData.threatLevelBadgeCategoryList; track $index) {
                          <div class="col-md-6" (click)="this.setCategory(catItem)">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0">
                              <i class="fa icon-size"
                                [ngClass]="{'fa-check-square-o selected-color': catItem.isUsed==true, 'fa-square-o' : catItem.isUsed==false}"
                                aria-hidden="true"></i>
                              {{catItem.description}}</span>
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card h-100 card-shadow">
                      <div class="card-header">
                        APB Control
                      </div>
                      <div class="card-body p-1">
                        <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0"
                          (click)="this.setDurationUse()">
                          <i class="fa icon-size"
                            [ngClass]="{'fa-check-square-o selected-color': this.selectedBadge.durUse==true, 'fa-square-o' : this.selectedBadge.durUse==false}"
                            aria-hidden="true"></i>Duration Use</span>
                        <div class="row ms-2">
                          @for (apbControl of this.personData.apbControlList; track $index) {
                          <div class="col-md-12">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0"
                              (click)="this.onSetApbControl(apbControl)">
                              <i class="fa icon-size"
                                [ngClass]="{'fa-check-circle-o selected-color':apbControl.isUsed==true, 'fa-circle-o' : apbControl.isUsed==false}"
                                aria-hidden="true"></i> {{apbControl.name}}</span>
                          </div>
                          }
                        </div>
                        <div class="row m-0 border border-start-0  border-end-0  border-bottom-0  border-top-1 pt-2">
                          <div class="col-md-12">
                            <div class="dropdown d-flex align-items-center gap-2">
                              <span>In Area</span>
                              <button type="button"
                                class="btn btn-sm btn-outline-secondary dropdown-toggle w-50 d-flex align-items-center justify-content-between"
                                data-bs-toggle="dropdown">
                                {{this.selectedApbArea.description}}
                              </button>
                              <ul class="dropdown-menu p-0">
                                @for (item of this.apbAreaFilterList; track $index) {
                                <li
                                  class="dropdown-item btn border border-start-0 border-end-0 border-top-0 d-flex align-items-center justify-content-between"
                                  (click)="this.onSetApbArea(item)" [ngClass]="{'selected-bg': item.isUsed==true}">
                                  {{item.description}}</li>
                                }
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0"
                              (click)="this.setExemptfromAPBAreaChecking()">
                              <i class="fa icon-size" [ngClass]="{'fa-check-square-o selected-color':
                                this.selectedBadge.mApbExempt==true, 'fa-square-o' :
                                this.selectedBadge.mApbExempt==false}" aria-hidden="true"></i>Exempt from APB Area
                              Checking</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 p-0">
                    <div class="card h-100 card-shadow">
                      <div class="card-header">
                        Alarm Shunt Control
                      </div>
                      <div class="card-body p-1">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="dropdown d-flex align-items-center gap-2">
                              <span>Shunt Group</span>
                              <button type="button"
                                class="btn btn-sm btn-outline-secondary dropdown-toggle w-50 d-flex align-items-center justify-content-between"
                                data-bs-toggle="dropdown">
                                {{this.selectedShunt.shuntName || "None"}}
                              </button>
                              <ul class="dropdown-menu p-0">
                                @for (item of this.shuntFilterList; track $index) {
                                <li class="dropdown-item btn border border-start-0 border-end-0 border-top-0"
                                  (click)="this.onSetShunt(item)" [ngClass]="{'selected-bg': item.isUsed==true}">
                                  {{item.shuntName}}</li>
                                }
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0"
                              (click)="this.setShuntByDesignatedReader()">
                              <i class="fa icon-size" [ngClass]="{'fa-check-square-o selected-color':
                                this.selectedBadge.shunt==true, 'fa-square-o' : this.selectedBadge.shunt==false}"
                                aria-hidden="true"></i>Shunt By Designated Reader
                            </span>
                          </div>
                        </div>

                        <div class="row m-0 border border-start-0  border-end-0  border-bottom-0  border-top-1 pt-2">
                          <div class="col-md-12">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card h-100 card-shadow">
                      <div class="card-header">
                        Additional Features
                      </div>
                      <div class="card-body p-2">
                        <div class="row m-0">
                          <div class="col-md-5" (click)="this.setTrack()">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0">
                              <i class="fa icon-size" [ngClass]="{'fa-check-square-o selected-color':
                                this.selectedBadge.track==true, 'fa-square-o' : this.selectedBadge.track==false}"
                                aria-hidden="true"></i> Track</span>
                          </div>
                          <div class="col-md-7" (click)="this.setEscorted()">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0">
                              <i class="fa icon-size" [ngClass]="{' fa-check-square-o selected-color':
                                this.selectedBadge.escort==true, 'fa-square-o' : this.selectedBadge.escort==false}"
                                aria-hidden="true"></i>Escorted</span>
                          </div>
                          <div class="col-md-5" (click)="this.setSupervisor()">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0">
                              <i class="fa icon-size" [ngClass]="{'fa-check-square-o selected-color':
                                this.selectedBadge.supervisor==true, 'fa-square-o' :
                                this.selectedBadge.supervisor==false}" aria-hidden="true"></i>Supervisor</span>
                          </div>
                          <div class="col-md-7" (click)="this.setFirstInControl()">
                            <span class="d-flex align-items-center flex-row gap-2 btn btn-sm border-0">
                              <i class="fa icon-size" [ngClass]="{'fa-check-square-o selected-color':
                                this.selectedBadge.firstInControl==true, 'fa-square-o' :
                                this.selectedBadge.firstInControl==false}" aria-hidden="true"></i>First In
                              Control</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
              @else if (menuTab.selectedTab.id==3) {
              <div id="menu3" class="card-body p-2 user-info-tab">
                <div class="card h-100 card-shadow">
                  <div class="card-header">
                    User Info
                  </div>
                  <div class="card-body p-2">
                    <div class="row m-0">
                      <div class="col-md-4 p-0 pe-1">
                        <div class="input-group input-group-sm">
                          <span class="input-group-text label-with">Soc Sec #/ ID</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.socSecId">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Department</span>
                          <input type="text" class="form-control"
                            [(ngModel)]="this.selectedDepartmentInfo.departmentName">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                          </button>
                          <ul class="dropdown-menu drop-menu-left p-0">
                            @for (item of this.departmentInfoFilterList; track $index) {
                            <li class="dropdown-item btn border border-start-0 border-end-0 border-top-0"
                              (click)="this.onSetDeparmentInfo(item)" [ngClass]="{'selected-bg': item.isUsed==true}">
                              {{item.departmentName}}</li>
                            }
                          </ul>
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Location</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedLocationInfo.location">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                          </button>
                          <ul class="dropdown-menu drop-menu-left p-0">
                            @for (item of this.locationInfotFilterList; track $index) {
                            <li class="dropdown-item btn border border-start-0 border-end-0 border-top-0"
                              (click)="this.onSetLocationInfo(item)" [ngClass]="{'selected-bg': item.isUsed==true}">
                              {{item.location}}</li>
                            }
                          </ul>
                        </div>
                        <div class="input-group mt-1 input-group-sm">
                          <span class="input-group-text label-with">Hide Date</span>
                          <input type="date" class="form-control" [(ngModel)]="this.selectedBadge.hireDate">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Supervisor</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedSupervisor.supervisorName">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                          </button>
                          <ul class="dropdown-menu drop-menu-left p-0">
                            @for (item of this.supervisorInfoFilterList; track $index) {
                            <li class="dropdown-item btn border border-start-0 border-end-0 border-top-0"
                              (click)="this.onSetSupervisorInfo(item)" [ngClass]="{'selected-bg': item.isUsed==true}">
                              {{item.supervisorName}}</li>
                            }
                          </ul>
                        </div>
                        <div class="input-group mt-1 input-group-sm">
                          <span class="input-group-text label-with">Date of Birth</span>
                          <input type="date" class="form-control" [(ngModel)]="this.selectedBadge.dateOfBirth">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Gender</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedGender.genderName">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                          </button>
                          <ul class="dropdown-menu drop-menu-left p-0">
                            @for (item of this.personData.genderList; track $index) {
                            <li class="dropdown-item btn border border-start-0 border-end-0 border-top-0"
                              (click)="this.onSetGender(item)" [ngClass]="{'selected-bg': item.isUsed==true}">
                              {{item.genderName}}</li>
                            }
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 p-0 ps-1">
                        <div class="input-group input-group-sm">
                          <span class="input-group-text label-with">Phone</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.phone">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Phone Ext.</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.contPhone">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Mobile No.</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.mobileNo">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Email</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.email">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Vehicle/Make</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.vehicle">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">License Plate</span>
                          <input type="text" class="form-control" [(ngModel)]="this.selectedBadge.license">
                        </div>
                        <div class="input-group input-group-sm mt-1">
                          <span class="input-group-text label-with">Remarks</span>
                          <textarea class="form-control" [(ngModel)]="this.selectedBadge.remarks"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
              @else {
              <div>No tab found</div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>