<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="companyName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="agrpNo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> AG No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.agrpNo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Description Text </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Edit </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastUpdated | date:'short'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="dataSource.data.length" [pageSize]="10"></mat-paginator>
